Hangman/HangmanClient/Service References/HangmanContract/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="HangmanContract" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="HangmanContract" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="HangmanContract/Imports">
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd0" namespace="HangmanContract" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHangman_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IHangman_register_InputMessage">
    <wsdl:part name="parameters" element="tns:register" />
  </wsdl:message>
  <wsdl:message name="IHangman_register_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerResponse" />
  </wsdl:message>
  <wsdl:message name="IHangman_invitePlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:invitePlayers" />
  </wsdl:message>
  <wsdl:message name="IHangman_acceptInvitation_InputMessage">
    <wsdl:part name="parameters" element="tns:acceptInvitation" />
  </wsdl:message>
  <wsdl:message name="IHangman_chooseGameWord_InputMessage">
    <wsdl:part name="parameters" element="tns:chooseGameWord" />
  </wsdl:message>
  <wsdl:message name="IHangman_guessLetter_InputMessage">
    <wsdl:part name="parameters" element="tns:guessLetter" />
  </wsdl:message>
  <wsdl:message name="IHangman_guessWord_InputMessage">
    <wsdl:part name="parameters" element="tns:guessWord" />
  </wsdl:message>
  <wsdl:message name="IHangman_timeUp_InputMessage">
    <wsdl:part name="parameters" element="tns:timeUp" />
  </wsdl:message>
  <wsdl:message name="IHangman_chat_InputMessage">
    <wsdl:part name="parameters" element="tns:chat" />
  </wsdl:message>
  <wsdl:message name="IHangman_leaveGame_InputMessage">
    <wsdl:part name="parameters" element="tns:leaveGame" />
  </wsdl:message>
  <wsdl:message name="IHangman_startNewGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:startNewGame" />
  </wsdl:message>
  <wsdl:message name="IHangman_setWordLength_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:setWordLength" />
  </wsdl:message>
  <wsdl:message name="IHangman_updatePlayersList_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:updatePlayersList" />
  </wsdl:message>
  <wsdl:message name="IHangman_receiveResult_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:receiveResult" />
  </wsdl:message>
  <wsdl:message name="IHangman_endGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:endGame" />
  </wsdl:message>
  <wsdl:message name="IHangman_receiveMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:receiveMessage" />
  </wsdl:message>
  <wsdl:message name="IHangman_receiveInvitation_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:receiveInvitation" />
  </wsdl:message>
  <wsdl:message name="IHangman_loginConfirmation_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:loginConfirmation" />
  </wsdl:message>
  <wsdl:portType name="IHangman">
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="HangmanContract/IHangman/login" message="tns:IHangman_login_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input wsaw:Action="HangmanContract/IHangman/register" message="tns:IHangman_register_InputMessage" />
      <wsdl:output wsaw:Action="HangmanContract/IHangman/registerResponse" message="tns:IHangman_register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="invitePlayers">
      <wsdl:input wsaw:Action="HangmanContract/IHangman/invitePlayers" message="tns:IHangman_invitePlayers_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="acceptInvitation">
      <wsdl:input wsaw:Action="HangmanContract/IHangman/acceptInvitation" message="tns:IHangman_acceptInvitation_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="chooseGameWord">
      <wsdl:input wsaw:Action="HangmanContract/IHangman/chooseGameWord" message="tns:IHangman_chooseGameWord_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="guessLetter">
      <wsdl:input wsaw:Action="HangmanContract/IHangman/guessLetter" message="tns:IHangman_guessLetter_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="guessWord">
      <wsdl:input wsaw:Action="HangmanContract/IHangman/guessWord" message="tns:IHangman_guessWord_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="timeUp">
      <wsdl:input wsaw:Action="HangmanContract/IHangman/timeUp" message="tns:IHangman_timeUp_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="chat">
      <wsdl:input wsaw:Action="HangmanContract/IHangman/chat" message="tns:IHangman_chat_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="leaveGame">
      <wsdl:input wsaw:Action="HangmanContract/IHangman/leaveGame" message="tns:IHangman_leaveGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="startNewGame">
      <wsdl:output wsaw:Action="HangmanContract/IHangman/startNewGame" message="tns:IHangman_startNewGame_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="setWordLength">
      <wsdl:output wsaw:Action="HangmanContract/IHangman/setWordLength" message="tns:IHangman_setWordLength_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatePlayersList">
      <wsdl:output wsaw:Action="HangmanContract/IHangman/updatePlayersList" message="tns:IHangman_updatePlayersList_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="receiveResult">
      <wsdl:output wsaw:Action="HangmanContract/IHangman/receiveResult" message="tns:IHangman_receiveResult_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="endGame">
      <wsdl:output wsaw:Action="HangmanContract/IHangman/endGame" message="tns:IHangman_endGame_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="receiveMessage">
      <wsdl:output wsaw:Action="HangmanContract/IHangman/receiveMessage" message="tns:IHangman_receiveMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="receiveInvitation">
      <wsdl:output wsaw:Action="HangmanContract/IHangman/receiveInvitation" message="tns:IHangman_receiveInvitation_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="loginConfirmation">
      <wsdl:output wsaw:Action="HangmanContract/IHangman/loginConfirmation" message="tns:IHangman_loginConfirmation_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>